# ST7789V display driver configuration options

# Copyright (c) 2019 Marc Reilly <marc@cpdesign.com.au>
# SPDX-License-Identifier: Apache-2.0

menuconfig ST7789V_MOSS
	bool "ST7789V display driver"
	depends on SPI
	select MUTEX
	select DISPLAY_CSK6_LCD
	help
	  Enable driver for ST7789V display driver.

config ST7789V_MOSS_DMA_CHANNEL
	int "ST7789V_MOSS_DMA_CHANNEL"
	default 0

config ST7789V_MOSS_ROTATE_90
	bool "ST7789V_MOSS_ROTATE_90"
	default n

choice ST7789V_PIXEL_FORMAT
	prompt "Color pixel format"
	default ST7789V_RGB565
	depends on ST7789V_MOSS
	help
	  Specify the color pixel format for the ST7789V display controller.

config ST7789V_RGB565
	bool "RGB565"

endchoice
