# Copyright (c) 2023 Anhui Listenai Co., Ltd.
# SPDX-License-Identifier: Apache-2.0

rsource "resources/Kconfig"

config WEBUSB_DEBUG
	default n
	select GCL_WEBUSB
	select WEBUSB

config DISPLAY_DEBUG
	bool "Enable display debug"
	default y
	select DISPLAY
	select ST7789V_MOSS
	select LVGL

if DISPLAY_DEBUG
config DISPLAY_DEBUG_SHOW_FPS
	bool "Show FPS"
	default n
endif # DISPLAY_DEBUG

config FD_ANTI_SPOOFING
	bool "Enable anti-spoofing"
	default n

module = APP
module-str = app
source "subsys/logging/Kconfig.template.log_config"

rsource "Kconfig.capability"

source "Kconfig.zephyr"
