# Copyright (c) 2023 Anhui Listenai Co., Ltd.
# SPDX-License-Identifier: Apache-2.0

config APLICATION_PACK_IMAGES
	bool "Package all algorithm resources, CP firmware and AP firmware into one image file"
	default y

rsource "Kconfig.images"
